body {
    background: rgb(107, 107, 241);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.493);
}

#res {
    text-align: center;
}

#foto {
    display: block;
    width: 180px;
    height: auto;
    margin: 15px auto 0;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.479);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}