body {
    background: rgb(107, 107, 241);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
}