body {
    background: rgb(107, 107, 241);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.493);
}

#msg {
    text-align: center;
    font-size: 22pt;
    font-weight: 600;
    letter-spacing: 1px;
    color: #912e2eb2;
}

#foto {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

#imagem {
    width: 250px;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
}